<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/png" href="img_debbie1.png">
			{% seo %}
		</head>
		<body>
				<div class="topnav">
					<a href="/" style="font-size:34px; font-family:Noto Sans, sans-serif; font-weight: 400; color: Red">Deborah Nakkungu</a>
				  <div class="topnav-right">
					<a href="/" style="color: black">Home</a>
					<a href="/cv" style="color: black">CV</a></li>
					<a href="/research" style="color: black">Research</a>
					<a href="/teaching" style="color: black">Teaching</a>
				  </div>
				</div>	
			<hr>

			<div class="container">
			
			{{ content }}
	
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:deborah.nakkungu28@myhunter.cuny.edu">email</a></li>
	        		<li><a href="https://github.com/deborah-nakkungu" target="_blank">github</a></li>
				<li><a href="https://twitter.com/NakkunguD" target="_blank">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
